
* {
    background-color: #050303;
    color: #f4f4f4;
}

*{
    box-sizing: border-box;
}

h1 {
    font-size: 80px;
    margin: 0;
}

h2 {color: #da1197;}

h3 {
    font-weight: 700;
    font-size: 30px;
    color: #f44cfa;
}

h4 {
    font-weight: 700;
    font-size: 30px;
    color: #cf45a1;
    margin: 0;
}

h5 {font-weight: 400;
    font-size: 25px;
    margin: 0;
}


button {
 padding: 15px 40px;
 cursor: pointer;
 background: transparent;
 color: #da1197;
 border: 2px solid #da1197;
 border-radius: 5px; 
 transition: 0.08s;  
}

button:hover {
    background-color: #33252e;
}

.subtitle {max-width: 550px;}

.primary-color {
    color: #a1076e;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.container {flex-direction: column;
    width: 1100px;
    margin-left: auto;
    margin-right: auto;

}

.spacing {
margin-top: 140px;
}

.about-container {
display: flex;
justify-content: space-between;
align-items: center;
gap: 50px;
}

.about-picture {
    max-height: 300px;
}

span {color: #ee8bcd;}

.tec-container { display: flex;
    justify-content: space-between;

}

.projects-container {
    display: flex;
    justify-content: space-around;
}

.card {
    width: 400px;
    background-color: #2e1a27;
padding: 46px;
gap: 45px;
}

.card.title {
    padding: 0;
    margin: 0;
}

.card-text {
    margin: 30px 0;
}

.card-button {
    width: 100%;
}

.contact {text-align: center;}

.contact-text {color: #33252e;}


@media (max-width: 768px) {
    .header-container {
        flex-direction: column;
        gap: 20px;
    }
}

.about-container {flex-direction: column-reverse;
gap: 20px;}



@media (max-width: 1200px) {
    .container {
        width: 100%;
        padding: 0 20px;
    }
}